.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.explore-menu h1{
    margin-top: 10px;
    color: #262626;
    font-weight: 500;
}
.explore-menu-text{
    max-width: 60%;
    color: #808080;
}
.explore-menu-list{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    overflow-x: auto;
    overflow-x: scroll;
}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.explore-menu-list-item{
    min-width: 160px; /* Adjust this value as needed */ 
    flex: 0 0 auto;
}
.explore-menu-list-item img{
    max-width: 100%;
    height: auto;
}
.explore-menu-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw 16px);
    cursor: pointer;
}
.explore-menu-list-item .active{
    border: 5px solid tomato;
    border-radius: 50%;
}
.explore-menu hr{
    margin: 10px 0;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}
@media (max-width:1050px) 
{
    .explore-menu-text{
        max-width: 100%;
    }
    
}